<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perfil Harmônco - Questionário</title>
</head>
<body>

<table style="width:100%">
    <tr>
        <form action="/quiz" method="post">
        <td>Id: <input type="text" name="id" src="/quiz/idGenarate"></td>
    </tr>
    <tr>
        <td>Imagem: </td>
    </tr>
    <tr>
        <td><input type="radio" name="img" src="/quiz/img" required></td>
        <td><input type="radio" name="img" src="/quiz/img" required></td>
    </tr>
</table>

</body>
</html>